# SI618 Project 2: Analysis

# Project Title — *World of Board Games: What decide their popularity and ratings?*

## Team Members
- Keqing Lu (keqinglu)
- Xiyuan Wang (denniswx)
- Fangqing Yuan (fangqing)

# Table of Contents
* [Descriptive Statistics](#Descriptive_Statistics)
    * [Section 1.1](#section_1_1)
* [Chapter 2](#chapter2)
    * [Section 2.1](#section_2_1)
        * [Sub Section 2.1.1](#sub_section_2_1_1)
        * [Sub Section 2.1.2](#sub_section_2_1_2)
* [Chapter 3](#chapter3)
    * [Section 3.1](#section_3_1)
        * [Sub Section 3.1.1](#sub_section_3_1_1)
        * [Sub Section 3.1.2](#sub_section_3_1_2)
    * [Section 3.2](#section_3_2)
        * [Sub Section 3.2.1](#sub_section_3_2_1)

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# import processed data from project 1
ready_data = pd.read_csv('board_games.csv')

In [3]:
ready_data.head() # check the first few rows of the data

,num_x,id,name,year,rank,average,bayes_average,users_rated,url,thumbnail,...,designer_list,publisher_list,category_count,family_count,mechanic_count,expansion_count,implementation_count,designer_count,publisher_count,artist_count
0,105,30549,Pandemic,2008,106,7.59,7.487,108975,/boardgame/30549/pandemic,https://cf.geekdo-images.com/S3ybV1LAp-8SnHIXL...,...,['Matt Leacock'],"['Z-Man Games', 'Albi', 'Asmodee', 'Asmodee It...",1,9,7,7,11,1,33,5
1,189,822,Carcassonne,2000,190,7.42,7.309,108738,/boardgame/822/carcassonne,https://cf.geekdo-images.com/okM0dq_bEXnbyQTOv...,...,['Klaus-Jürgen Wrede'],"['Hans im Glück', '999 Games', 'Albi', 'Bard C...",3,11,3,155,17,1,35,4
2,428,13,Catan,1995,429,7.14,6.970,108024,/boardgame/13/catan,https://cf.geekdo-images.com/W3Bsga_uLP9kO91gZ...,...,['Klaus Teuber'],"['KOSMOS', '999 Games', 'Albi', 'Asmodee', 'As...",2,5,9,87,29,1,48,11
3,72,68448,7 Wonders,2010,73,7.74,7.634,89982,/boardgame/68448/7-wonders,https://cf.geekdo-images.com/RvFVTEpnbb4NM7k0I...,...,['Antoine Bauza'],"['Repos Production', 'ADC Blackfire Entertainm...",5,7,5,16,3,1,14,4
4,103,36218,Dominion,2008,104,7.61,7.499,81561,/boardgame/36218/dominion,https://cf.geekdo-images.com/j6iQpZ4XkemZP07HN...,...,['Donald X. Vaccarino'],"['Rio Grande Games', '999 Games', 'Albi', 'Bar...",2,3,5,46,2,1,23,9

## Descriptive Statistics <a id="Descriptive_Statistics"></a>

选几个和问题相关的features，打出describe；可以把features分类列出

对于categorical，统计mode，countplot

In [6]:
ready_data.columns

Index(['num_x', 'id', 'name', 'year', 'rank', 'average', 'bayes_average',
       'users_rated', 'url', 'thumbnail', 'num_y', 'primary', 'description',
       'yearpublished', 'minplayers', 'maxplayers', 'playingtime',
       'minplaytime', 'maxplaytime', 'minage', 'owned', 'trading', 'wanting',
       'wishing', 'category_list', 'mechanic_list', 'family_list',
       'expansion_list', 'implementation_list', 'artist_list', 'designer_list',
       'publisher_list', 'category_count', 'family_count', 'mechanic_count',
       'expansion_count', 'implementation_count', 'designer_count',
       'publisher_count', 'artist_count'],
      dtype='object')

In [8]:
ready_data.describe() # check the summary statistics of the data

,num_x,id,year,rank,average,bayes_average,users_rated,num_y,yearpublished,minplayers,...,wanting,wishing,category_count,family_count,mechanic_count,expansion_count,implementation_count,designer_count,publisher_count,artist_count
count,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,...,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000,21631.000000
mean,10878.522352,118133.093847,1988.101290,10879.522352,6.417249,5.683664,874.548518,10815.000000,1986.094910,2.007027,...,42.030373,233.655587,2.618094,2.220239,2.907910,1.381674,0.312931,1.367482,2.701678,1.724608
std,6311.917913,105310.419253,190.115056,6311.917913,0.929345,0.366096,3695.946026,6244.476172,210.042496,0.688957,...,117.940355,800.657809,1.380869,2.345225,2.189651,7.754529,0.859280,0.768842,5.448527,4.613607
min,0.000000,1.000000,0.000000,1.000000,1.040000,0.000000,30.000000,0.000000,-3500.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,5407.500000,12280.500000,2001.000000,5408.500000,5.830000,5.510000,57.000000,5407.500000,2001.000000,2.000000,...,3.000000,14.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
50%,10838.000000,105187.000000,2011.000000,10839.000000,6.450000,5.546000,124.000000,10815.000000,2011.000000,2.000000,...,9.000000,39.000000,2.000000,2.000000,2.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,16355.500000,207013.000000,2017.000000,16356.500000,7.040000,5.678000,397.000000,16222.500000,2017.000000,2.000000,...,29.000000,131.000000,3.000000,3.000000,4.000000,1.000000,0.000000,2.000000,3.000000,2.000000
max,21830.000000,350992.000000,3500.000000,21831.000000,9.570000,8.511000,108975.000000,21630.000000,2023.000000,10.000000,...,2011.000000,19325.000000,14.000000,106.000000,20.000000,525.000000,38.000000,21.000000,207.000000,509.000000

## Inferential Statistics

对于不同年份，category，公司，family，ANOVA test一下平均分的不同；

可以只选几个最多的类别

对于不互斥的类别，是否test会有问题

In [15]:
from scipy.stats import ttest_ind

median_year = ready_data['year'].median()
old_year_ratings = ready_data[ready_data['year'] < median_year]['average']
new_year_ratings = ready_data[ready_data['year'] >= median_year]['average']

ttest_ind(old_year_ratings, new_year_ratings, equal_var=False)

TtestResult(statistic=-55.1884190689741, pvalue=0.0, df=21103.390417804843)

把numerical features里面corr最高的几组3列出来

## Graphical Analysis

把第一次改一改

画一个5x5的pariplot

自由发挥。。。

## Comparative Analysis

histogram / scatterplot, hue="???"

??? 可以是 age， year，player_num

## Multivariate Analysis

画pivot table，cross tabulation

也是按照age,year,player_num

或者 card game, non-card game

## Reference